/* CSS for pdf */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

code {
  font-size: .85em;
  background: #eeeeee;
}

blockquote {
  color: 666;
  border-left: 3px solid #ccc;
  padding-left: 10px;
}